public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=*husky*
production=false
# Use the default pnpm linker (isolated) for better monorepo support on Vercel
# node-linker=hoisted

